/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

/* Фон */
body {
    background: url("src/img.png") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Хедер */
header {
    padding-top: 20px;
}

.logo {
    max-width: 250px;
}

/* Контент */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main h1, main h2 {
    font-size: 3.5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

main p {
    max-width: 600px;
    font-size: 2rem;
    line-height: 1.5;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

main span {
    font-size: 2rem;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

/* Кнопки */
.buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.btn {
    padding: 25px 125px;
    background: #334EA7;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: 0.3s;
}

.btn:hover {
    background: white;
    color: black;
}

.phones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin-top: 2rem;
}
.phones p a{
    color:whitesmoke;
    text-decoration: none;

}
.phones p a img {
    width: 20px;
    filter: brightness(0) saturate(100%) invert(14%) sepia(95%) saturate(5300%) hue-rotate(334deg) brightness(92%) contrast(101%);
}

/* Смартфоны */
@media (max-width: 768px) {
    main h1, main h2 {
        font-size: 2.3rem;
    }
    main p, main span {
        font-size: 1.6rem;
    }
    .buttons {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 500px;
    }
    .btn {
        padding: 15px 45px;
        font-size: 1rem;
        width: 100%;
    }
    .phones {
        gap: 0.5rem;
    }
}

/* Очень маленькие экраны */
@media (max-width: 480px) {
    .logo {
        max-width: 200px;
    }
    main h1, main h2 {
        font-size: 2.5rem;
    }
    main p {
        font-weight: 500;
    }
    main p, main span {
        font-size: 1.5rem;
    }
    .buttons {
        flex-direction: column;
    }
    .btn {
        padding: 15px 30px;
        font-size: 0.9rem;
    }
    .phones{
        flex-direction: column;
    }
}
